<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.baylorgenetics.cataglog_qa.testcases.VerifyingMitochondrialOrderPageAndSections"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.VerifyingGlobalMapsOrderPageAndSections"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.LoginChrome"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.GestationalInfoYesPregLMP"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.LogInFireFox"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.EthnicityDropdownSelectOtherValueORderpage"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.VerifyingAllValuesInTheEthnicityDropDown"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.GeneAwaresDownloadAndVerifyThePdf"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.EthnicityDropdownSelectAfricanAmericanValueOrderpage"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.VerifyingWgsOrderPageAndSections"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.FemalePatientInfomation"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.ValidatingTheSearchValueInURL"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.VerifyingWestAdvantageOrderPageAndSections"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.NegativeInvalidKeyword"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.EthnicityDropdownSelectAshkenaziJewishValueOrderpage"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.VerifyingCytogeneticsOrderpageAndSections"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.AddingMoreThanOneAdditionalRecipients"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.EthnicityDropdownSelectEastAsianValueOrderpage"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.GestationalInfoYesPregUltraDate"/>
      <class name="com.baylorgenetics.cataglog_qa.testcases.MalePatientInformation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
